.App {
	max-width: 100vw !important;
	overflow: hidden;
	background-color: var(--black);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	
	text-wrap: balance;
}

.ContributionCalendar-label {
	fill: var(--secondary-color) !important;
}

.contributions-header {
	margin-bottom: 20px !important;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
}

.mobile-background {
	height: 100vh;
	width: 100vw;
	background-image: url("./images/threeJS/space.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: fixed;
	overflow: show;
}
