@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");

:root {
	--primary-color: #303030;
	--secondary-color: #43c396;
	--secondary-color-dark: hsl(162, 55%, 29%);
	--off-white: #f5f5f5;
	--black: rgb(12, 12, 14);
}

* {
	cursor: url("./images/ring-pointer.png"), 4, 4 auto !important;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--black);
	cursor: url("./images/cursor-ring.png") 4 4, default !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	user-select: none;
	color: var(--off-white);
}

iframe,
button,
input,
a {
	cursor: url("./images/ring-pointer.png"), auto !important;
}

svg:hover {
	color: var(--secondary-color) !important;
}


html {
	scroll-behavior: smooth !important;
}



.fade-in-on-mount {
	animation: fadeIn ease 1.5s;
	-webkit-animation: fadeIn ease 1.5s;
	-moz-animation: fadeIn ease 1.5s;
	-o-animation: fadeIn ease 1.5s;
	-ms-animation: fadeIn ease 1.5s;
}